.cart-widget {
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  
  .cart-num {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: rgba(53, 2, 255, 0.448);
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 17px;
  }